language: node_js

before_install:
  - "npm install -g npm && npm install"

before_script:
  - 'wget -nc https://github.com/schedul-xor/ol3/archive/master.zip'
  - 'unzip -o master.zip'
  - 'cp -r ol3-master/src/ol src'
  - 'python node_modules/nclosure/third_party/closure-library/closure/bin/build/depswriter.py "--root_with_prefix=src/ ../../../../../../src" "--root_with_prefix=examples/ ../../../../../../examples" "--root_with_prefix=node_modules/nclosure/lib/third_party/node ../../../../lib/third_party/node" > deps.js'

script:
  - "find test | grep '.test.js$' | xargs mocha -R tap"
  - 'node tasks/build.js buildcfg/config.json qt.min.js'
